@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-poppins;
}

.glow-button {
    @apply hover:shadow-violet-800 hover:shadow-[0_0_20px_4px] transition-all duration-150;
}

.text-gradient {
    @apply bg-gradient-to-r from-violet-800 via-purple-800 to-fuchsia-700 bg-clip-text text-transparent;
}

html {
  scroll-behavior: smooth;
}

/* cek layout */
/* * {
    border: 1px solid red;
} */